.mainBody {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}

.mainBody p {
    margin: 0;
    padding-bottom: 0.5em;
}

.mainBody h1 {
    margin: 0.5rem 0;
    font-size: larger;
}