.verticalFlex {
    display: flex;
    flex-direction: column;
}

.sublayoutFlex {
    display: flex;
    flex-direction: row;
}

.contentFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}
