.verticalFlex {
    display: flex;
    flex-direction: column;
}

.centeredText {
    text-align: center;
}

.noteText {
    font-size: 0.7em;
    color: var(--dark);
}

.blockDisplay {
    display: block;
}